--find-links https://download.pytorch.org/whl/torch_stable.html
numpy
torch==1.9.0+cu111
torchvision==0.10.0+cu111
torchaudio===0.9.0
matplotlib
tqdm
scipy
light_progress
scoop
optuna
recommonmark
pytest
colorlog

pyyaml
attrdict
GitPythona
jupyter 
notebook
git+https://github.com/RobustBench/robustbench

opencv-python